*{
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 98vw;
    height: 80;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(200, 218, 252);
}
legend{
    text-align: justify;
    font-size: 23px;
}
label{
    display: flex;
    gap: 30px;
    padding: 5px;
    text-align: justify;
    box-shadow: 15px 5px 15px rgb(0, 0, 0);
}
.nome{margin: 0 113px;}
.idade{margin: 0 117px;}
.sexo{margin: 0 121px;}
.cpf{margin: 0 124px;}
.civil{margin: 0 60px;}
.endereço{margin: 0 82px;}
.n{margin: 0 136px;}
.complemento{margin: 0 43px;}
.bairro{margin: 0 105px;}
.cep{margin: 0 105px;}
.uf{margin: 0 127px;}
.cel{margin: 0 94px;}
.e{margin: 0 95px;}
.com{margin: 0 66px;}
input:focus{
    background-color: rgb(192, 207, 235);}
button{
    text-align: center;
    padding: 15px;
    height: 50px;
    margin: 15px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(255, 255, 295);
    width: 150px;
    font-size: 20px;
    cursor: pointer;
}